blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pillow==12.1.1
ply==3.11
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
qrcode==8.2
Werkzeug==3.1.5
gunicorn
